<div class="jumbotron jumbotron-fluid">
    <div class="container pl-5">
        <h1 class="display-4">PELI APP</h1>
        <p class="lead">Explora el cine como nunca antes a través de nuestras breves y emocionantes sinopsis de películas. Desde acción épica hasta 
            romances conmovedores. ¿Listo para descubrir tu próxima película? ¡Bienvenidos!</p>
    </div>

    <div style="background-color: cornflowerblue; inline-size: 400px; block-size: 400px; margin: 0 auto;">
        <google-adsense></google-adsense>        
    </div>
</div>
<app-loading *ngIf="loading"></app-loading>
<div class="container content" *ngIf="!loading">

    <p class="text-center">
        <button class="btn btn-success" (click)='ejecutar("Cartelera")' type="button">
        En cartelera
    </button>

        <button class="btn btn-primary m-3" (click)='ejecutar("Populares")' type="button">
      Populares
    </button>

        <button class="btn btn-info" (click)='ejecutar("Pequeños")' type="button">
      Populares entre los pequeños
    </button>
    </p>


    <div class=" text-center animated fadeIn fast" id="peliculas">
        <h2>{{text}}</h2>      
        <div class="row row-cols-1 row-cols-md-3 ">
            <div class="col mb-4" [routerLink]="['/pelicula', pelicula.id, 'home']" *ngFor="let pelicula of Peliculas">
                <div class="card puntero">
                    <img src="{{pelicula | noimg}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{pelicula.title}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>