<div class="mt-5">
    <app-loading *ngIf="loading"></app-loading>
</div>
<div class="container text-justify" *ngIf="!loading">
    <div class="ml-2">
        <h2>{{peli['title']}}</h2>
        <div class="row m-2">

            <div class="col">
                <img src="{{peli | noimg: true}}" alt="">
            </div>
            <div class="col">
                <h3>Sinopsis</h3>
                <p>{{peli['overview'] }}</p>
                <p>Popularidad: <span class="badge badge-pill badge-info">{{peli['popularity']}}</span></p>
                <p>Voto promedio: <span class="badge badge-pill badge-info">{{peli['vote_average']}}</span></p>
                <button class="btn btn-danger" routerLink='/{{back}}'>Regresar</button>
            </div>

        </div>
    </div>

</div>